html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Tahoma, sans-serif;
    font-size: large;
}

body {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    flex-direction: column;
}

main {
    max-width: 1666px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
}
main > div {
    margin: 0.5em;
}

.link {
    display: block;
    text-align: center;
    padding: 1em;
    background-color: rgb(250, 250, 243);
    border-style: solid;
    border-color: black;
    border-radius: 1em;
    border-width: 2px;

    color: black;
    text-decoration: none;
}

.hashtag {
   display: inline-block;
   color: darkgray;
   text-decoration: none;
}

.tagfilter {
    margin-top: 1em;
}

.hashtag:hover {
    text-decoration: underline;
}

#search {
    z-index: 100;
    width: 75%;
    background-color: rgb(250, 250, 243);
    border-style: solid;
    border-color: rgb(150, 150, 150);
    border-radius: 1em;
    border-width: 1px;
    padding: 1em;
    font-size: x-large;
    margin: 1em;

    display: none; /* changed by js */
}

form {
    margin: 0;
    padding: 0;
}

#searchText {
    border: none;
    font-size: xx-large;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 100%;
}

#searchText:focus {
    outline: none;
}

#hint {
    color: darkgrey;
    display: block;
    margin-top: 1em;
}

footer {
    margin: 1em;
}

header {
    text-align: center;
}

header > small {
    color: darkgrey;
    display: block;
    margin-top: 1em;
    font-size: large;
    cursor: pointer;
}