<html>
<head>
    {{- $config := (readFile "config.json") | fromJson}}
    {{- $tag := .Req.URL.Query.Get "tag"}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/index.css" />
    <script src="static/js/index.js" defer></script>
    <title>{{or $config.title "Dashboard"}}</title>
</head>

<body>
    <header>
        <h1>{{or $config.title "Dashboard"}}</h1>
        <small onclick="toggleSearch()">type <kbd>/</kbd> to open search</small>
    </header>
    <div id="search">
        <input type="text" id="searchText" placeholder="search... refine results by space" tabindex="0" />
        <small id="hint"></small>
    </div>
    {{- with $tag }}
    <div class="tagfilter">
        <b>#{{$tag}}</b> tag: <a href="?">reset</a>
    </div>
    {{- end}}
    <main>
        <div>
            {{- range $index, $link := $config.links}}
            {{- if or (not $tag) ($link.tags | has $tag)}}
            <div class="pill">
                <a href="{{$link.href}}" id="link{{$index}}" class="link" target="_blank">
                    {{or $link.name $link.href}}
                </a>
                {{- with $link.tags }}
                <a class="hashtag" href="?tag={{index $link.tags 0}}">#{{index $link.tags 0}}</a>
                {{- else}}
                &nbsp;
                {{- end}}
            </div>
            {{- end}}
            {{- end}}
        </div>
    </main>
    <footer>
        <small>made by <a href="https://github.com/reddec" target="_blank">reddec</a></small>
    </footer>
    <script>
        const index = [
        {{- range $index, $link := $config.links}}
        {{- if or (not $tag)  ($link.tags | has $tag)}}
        {"term": {{(print ($link.href) ($link.tags | join "" ) ($link.name))  | lower | trim | toJson}}, "id": "link{{$index}}", "config": {{$link | toJson}}},
        {{- end }}
        {{- end }}
        ]
    </script>
</body>

</html>